@import 'tailwindcss';

@theme{

    /* Colour themes */
    --color-primary: #2C2F5A;
    --color-secondary: #C5A46D;
    --color-neutral-100: #fff;
    --color-neutral-200: #F7F7F7;
    --color-neutral-400: #C4C4C4;
    --color-neutral-600: #6B6B6B;
    --color-success: #3BA55D;
    --color-error: #D93025;
    --color-warning: #F5A623;

    /* Font themes */
    --font-main: 'Manrope', sans-serif;

    /* Font weight themes */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    /* Spacing themes */
    --spacing-4: 0.25rem;
    --spacing-8: 0.5rem;
    --spacing-16: 1rem;
    --spacing-24: 1.5rem;
    --spacing-32: 2rem;
    --spacing-48: 3rem;
    --spacing-64: 4rem;
    --spacing-96: 6rem;
    --spacing-128: 8rem;
    --spacing-256: 16rem;

    /* Radius themes */
    --radius-4: 0.25rem;
    --radius-8: 0.5rem;
    --radius-16: 1rem;


}

@layer base{
    body{
        @apply font-main
    }
}

@layer components{

}

@layer utilities{

}