@import 'tailwindcss';

@theme{

    /* Colour themes */
    --color-bg-main: #F5F3EB;
    --color-text-primary: #1D1D1D;
    --color-text-secondary: #818181;
    --color-accent.primary: #dbd4ca;
    --color-accent.secondary: #cbc1b3;
    --color-primary: #B7410E;
    --color-secondary: #C5A46D;
    --color-neutral-100: #fff;
    --color-neutral-200: #F7F7F7;
    --color-neutral-400: #C4C4C4;
    --color-neutral-600: #6B6B6B;
    --color-success: #3BA55D;
    --color-error: #ff0000;
    --color-warning: #F5A623;

    /* Font themes */
    --font-main: 'Manrope', sans-serif;

    /* Font weight themes */
    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Font sizes themes */
    --text-2xs: 0.75rem;
    --text-xs: 0.875rem;
    --text-sm: 0.9375rem;
    --text-base: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.375rem;
    --text-2xl: 1.5rem;
    --text-3xl: 2rem;
    --text-4xl: 2.5rem;
    --text-5xl: 2.75rem;
    --text-6xl: 3rem;
    --text-7xl: 4rem;
    --text-8xl: 4.5rem;
    --text-9xl: 6rem;

    /* Radius themes */
    --radius-none: 0rem;
    --radius-lg: 0rem;
    --radius-xl: 0.3125rem;
    --radius-2xl: 0.75rem;
    --radius-3xl: 2.5rem;
    --radius-4xl: 3.625rem;

    /* Spacing themes */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-2xl: 3rem;
    --spacing-3xl: 4rem;
    --spacing-4xl: 6rem;
    --spacing-5xl: 8rem;
    --spacing-6xl: 16rem;

    /* Breakpoint themes */
    --breakpoint-xs: 390px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;


}

@layer base{
    body{
        @apply font-main
    }

    h1{
        @apply font-light text-2xl 
    }

    h2{
        @apply font-regular text-2xl
    }

    h3{
        @apply font-semibold text-lg
    }

    p{
        @apply font-medium text-xs
    }
}

@layer components{
    .display{
        @apply font-light text-4xl leading-none tracking-tight
    }
}

@layer utilities{

}

/* 

12px- 0.75rem

2xs
14px- 0.875rem

xs
15px- 0.9375rem

sm
16px- 1rem

base
20px- 1.25rem

lg
22px- 1.375rem

xl
24px- 1.5rem

2xl
32px- 2rem

3xl
40px- 2.5rem

4xl
44px- 2.75rem

5xl
48px- 3rem

6xl
64px- 4rem

7xl
72px- 4.5rem

8xl
96px- 6rem

9xl
*/